<ul>
  <li>
    <a href="https://github.com/ProfEibe/fugu" target="_blank"
      ><i class="pi pi-github"></i> Open Source GitHub Repository</a
    >
  </li>
</ul>

<h2>Further Reading</h2>
<ul>
  <li>
    <a href="https://developer.chrome.com/docs/capabilities/status/" target="_blank">Chrome Capabilities Status</a>
  </li>
  <li>
    <a href="https://developer.chrome.com/blog/is-project-fugu-done/" target="_blank">Is Project Fugu Done?</a>
  </li>
  <li>
    <a href="https://developer.chrome.com/blog/file-system-observer?hl=en" target="_blank">File System Observer</a>
  </li>
  <li>
    <a
      href="https://issues.chromium.org/issues?q=customfield1223031:proj-fugu%20-customfield1223031:proj-fugu-efforts%20-is:obsolete"
      target="_blank"
      >Project Fugu Tracker</a
    >
  </li>
  <li>
    <a href="https://entwickler.de/webentwicklung/machtigeres-web-dank-kugelfisch" target="_blank"
      >Mächtigeres Web dank Kugelfisch</a
    >
  </li>
</ul>

<h2>Support Checks</h2>
<ul>
  <li>
    <a href="https://caniuse.com/" target="_blank">Can I use?</a>
  </li>
  <li>
    <a href="https://whatwebcando.today/" target="_blank">What Web Can Do Today?</a>
  </li>
</ul>

<h2>Documentations</h2>
<ul>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Badging_API" target="_blank">Badging API</a></li>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/ContactsManager" target="_blank">Contacts Manager</a>
  </li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Manifest/shortcuts" target="_blank">Shortcuts</a></li>
  <li><a href="https://wicg.github.io/file-system-access/" target="_blank">File System Access API</a></li>
  <li>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/DocumentPictureInPicture" target="_blank"
      >Picture in Picture</a
    >
  </li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Clipboard_API" target="_blank">Clipboard API</a></li>
</ul>
