<p>
  Input a number to set the badge on the message icon. Click the set button to set the badge and click the clear button
  to clear the badge.
</p>
<p>
  The application needs to be installed on the home screen or dock to see the badge and granted permission to show
  notifications on apple systems.
</p>
<p>Android is not supported.</p>

<p-messages [(value)]="messages"></p-messages>

@if (supported) {
  <div class="grid">
    <div class="col-12">
      <p-inputNumber [(ngModel)]="unreadCount"></p-inputNumber>
    </div>
    <div class="col-12">
      <p-button (onClick)="setBadge()" label="Set" />
      <p-button (onClick)="clearBadge()" class="ml-1" [outlined]="true" [severity]="'danger'" label="Clear" />
    </div>
  </div>
}
