@if (supported) {
  <p-button label="Contact Picker" (onClick)="getContacts()" />

  <div class="card">
    <div class="flex flex-column gap-2">
      Supported Properties:
      @for (prop of supportedProperties; track prop) {
        <div class="flex align-items-center">
          <p-checkbox
            [(ngModel)]="selectedProperties"
            label="{{ prop }}"
            name="{{ prop }}"
            value="{{ prop }}"
            [disabled]="prop === 'name'"
          />
        </div>
      }
    </div>
  </div>

  <p-table [value]="contacts" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="supportedProperties.includes('icon')">Icon</th>
        <th>Name</th>
        <th>E-Mail</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact>
      <tr>
        <td *ngIf="supportedProperties.includes('icon')">
          @if (contact.icon[0]) {
            <img [src]="contact.icon[0] | blob2img" alt="icon" />
          } @else {
            NoIcon
          }
        </td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
      </tr>
    </ng-template>
  </p-table>

  <pre>{{ contacts | json }}</pre>
} @else {
  <p>Not supported</p>

  On iOS do the following steps to activate it:
  <ul>
    <li>Go to Settings</li>
    <li>Scroll down to Safari</li>
    <li>Scroll down to Advanced</li>
    <li>Enter Experimental Features</li>
    <li>Enable "Contact Picker Api"</li>
  </ul>
}
